<%= image_tag @movie.image.url(:medium) %>

<p>
  <b>Title:</b>
  <%= @movie.title %>
</p>

<p>
  <b>Description:</b>
  <%= @movie.description %>
</p>

<p>
  <b>Movie length:</b>
  <%= @movie.movie_length %>
</p>

<p>
  <b>Director:</b>
  <%= @movie.director %>
</p>

<p>
  <b>Rating:</b>
  <%= @movie.rating %>
</p>


<%= link_to 'Edit', edit_movie_path(@movie) %> |
<%= link_to 'Back', movies_path %>
